#footer {
  background: rgba(0, 0, 0, 0.236); /* 黑色，透明度为0.5 */
  color: #000; /* 文本颜色为黑色 */
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  backdrop-filter: saturate(100%) blur(5px);
}